In [13]:
import pandas as pd
from datetime import datetime, timedelta

In [2]:
quiz_set = pd.read_csv('quiz.tsv', sep='\t')

In [3]:
quiz_set.shape

(2500000, 19)

In [6]:
res_set = quiz_set[['record_number', 'acceptance_scan_timestamp']]

In [7]:
res_set[:5]

   record_number      acceptance_scan_timestamp
0       15000001  2019-11-15 05:11:00.000-07:00
1       15000002  2019-11-28 02:03:00.000-05:00
2       15000003  2019-12-03 00:02:00.000-08:00
3       15000004  2019-12-14 19:56:00.000-05:00
4       15000005  2019-12-19 14:30:00.000-08:00

In [12]:
res_set['deliver_day'] = 4

<ipython-input-12-9ef793239ede>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  res_set['deliver_day'] = 4

In [11]:
res_set[:5]

   record_number      acceptance_scan_timestamp  deliver_day
0       15000001  2019-11-15 05:11:00.000-07:00            4
1       15000002  2019-11-28 02:03:00.000-05:00            4
2       15000003  2019-12-03 00:02:00.000-08:00            4
3       15000004  2019-12-14 19:56:00.000-05:00            4
4       15000005  2019-12-19 14:30:00.000-08:00            4

In [17]:
def add_func(row):
    acct = row['acceptance_scan_timestamp']
    dd = row['deliver_day']
    cdate = datetime.strptime(acct.split()[0], "%Y-%m-%d")
    cdate = cdate + timedelta(days=dd)
    return cdate.strftime("%Y-%m-%d")

In [18]:
res_set['arrive_date'] = res_set.apply(add_func, axis=1)

<ipython-input-18-bd0cf7e72891>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  res_set['arrive_date'] = res_set.apply(add_func, axis=1)

In [21]:
sum(res_set['arrive_date'].isnull())

0

In [23]:
res_set.drop(columns=['acceptance_scan_timestamp', 'deliver_day']).to_csv('result.tsv', header=None, index=None, sep='\t')